@import '@/styles/_main.scss';

// Mobile Safari browser's height issue patch
// https://dev.to/maciejtrzcinski/100vh-problem-with-ios-safari-3ge9
:root {
    --app-height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    height: var(--app-height);
}

body {
    overflow: hidden;
}

#root {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}
