

.search-bar {

  position: static;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(100% - 40px);
  height: 42px;

  background: #FFF0F0;
  border-radius: 19.9607px;

}